<!doctype html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109012884-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109012884-2');
</script>
<meta charset="utf-8">
<title>NodaSF: Gov Agencies</title>
{% load static from staticfiles %}
<link rel="image_src" href="{% static 'NN-FB-Pro_pic.png' %}"/> 
<link href="{% static 'css_style_sheets/agency.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css_style_sheets/nav.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'favicon.ico' %}" rel='shortcut icon'>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
      <header>
  	    		<form method="get" action="https://www.google.com/search">
			    <input type="hidden" name="sitesearch" value="sf.nodanews.com" />
			    <input type="text" size="15" name="q" placeholder="Search" />
			    <button type="submit"></button>
		        </form>
    <nav>
      <a href="https://sf.nodanews.com/"><img src="{% static 'nodasf.png' %}" alt="" id="logo"></a>
      <img src="{% static 'Hamburger_icon.svg.png' %}" id='burger'>
      <ul id="nav-list">
      <li class='nav-list-item'><a href="https://sf.nodanews.com/media-org-directory/">Media Org. Directory</a></li>
      <li class='nav-list-item'><a href="https://sf.nodanews.com/venues/">Venues</a></li>
      <li class='nav-list-item'><a href="https://sf.nodanews.com/politicians/">Politicians</a></li>
      <li class='nav-list-item'><a href="https://sf.nodanews.com/agencies/">Gov. Agencies</a></li>
      <li class='nav-list-item'><a href="https://sf.nodanews.com/organizations/">Local Organizations</a></li>
      <li class='nav-list-item'><a href="https://sf.nodanews.com/about/">About Noda News</a></li>
  	</ul>
  	</nav>
    </header>
<div id="main">
    <h1 id='title'>Local and Regional Government Agencies</h1>
    {% for agency in agencies %}
    <img src="https://noda-sf-storage.s3.amazonaws.com/{{agency.image}}" class="image">
    <a href="https://sf.nodanews.com/agency/{{agency.id}}/{{agency.slug}}/" target="_blank" class="agency-name">{{agency.name}}</a>
    <p class='category'>{{agency.Category}}</p>
    <a href='{{agency.homepage}}' class="homepage">Homepage</a>
    {% endfor %}
</div>
</body>
</html>