{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","value":"boto==2.45.0\nboto3==1.4.4\ndj-database-url==0.4.2\nDjango==2.1.10\ndjango-storages==1.7.1\ndjango-tinymce==1.5.2\ndocutils==0.13.1\nargparse==1.2.1\nfutures==3.0.5\nheroku==0.1.4\njmespath==0.9.0\nolefile==0.44\nPillow==4.0.0\npsycopg2==2.7.4\npython-dateutil==2.6.0\npytz==2019.1\nrequests==2.20.0\ns3transfer==0.1.10\nsix==1.10.0\nwaitress==1.0.1\nwhitenoise==3.2.3\n","undoManager":{"mark":-2,"position":0,"stack":[[{"start":{"row":1,"column":12},"end":{"row":2,"column":0},"action":"remove","lines":["",""],"id":28}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":12},"end":{"row":1,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563812522027}