{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":2,"column":6},"end":{"row":2,"column":41},"action":"insert","lines":["pip install --upgrade django==1.6.5"],"id":42}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":6},"end":{"row":2,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1565032557855,"hash":"0cc1c3b6e675dd6c65efb66ad24523da25790dee"}